@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-top,
.leaflet-pane,
.leaflet-control {
  z-index: 0 !important;
}

.rdrMont {
  width: 100% !important;
  font-size: 16px !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
